<%
  const description = page.excerpt ?? config.description
  const title = page_title()
  const full_page_title = (title.length > 0 ? title + ' - ' + config.title : config.title)
%>

<html lang="<%= config.language %>">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= full_page_title %></title>
    <meta name="og:title" content="<%= full_page_title %>">
    <% if (description) { %>
      <meta name="description" content="<%= description %>">
      <meta name="og:description" content="<%= description %>">
    <% } %>
    <meta name="canonical" content="<%= page.permalink %>">
    <% if (env.env === 'production') { %>
      <link rel="stylesheet" href="/<%= manifest()['themes/palmenhq/public/main.css'].file %>">
    <% } %>

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="icon" type="image/png" href="/images/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  </head>

  <body>

  <%- body %>

  <div id="react-root"></div>
  <script type="text/javascript">
    <%
      const mapTags = tags => tags.map(tag => ({
        name: tag.name,
        slug: tag.slug,
        path: tag.path,
        permalink: tag.permalink,
        length: tag.length,
      }))
      const state = {
        content: page.content ?? null,
       toc: toc(page.content),
        title: title ?? null,
        date: page.date?.format('ll') ?? null,
        slug: page.slug ?? null,
        permalink: page.permalink ?? null,
        layout: page.__index ? 'start' : page.layout ?? null,
        isArchive: page.archive ?? false,
        isTag: Boolean(page.tag),
        posts: page.posts?.map(post => ({
          title: post.title,
          date: post.date?.format('ll'),
          content: post.content,
          excerpt: post.excerpt,
          slug: post.slug,
          published: post.published,
          path: post.path,
          permalink: post.permalink,
          tags: mapTags(post.tags),
        })) ?? [],
        tags: page.tags ? mapTags(page.tags) : [],
      }
    %>
      window.__phq_state = <%- JSON.stringify(state, null ,2) %>
  </script>

  <% if (env.env === 'development') { %>
  <script type="module">
    import RefreshRuntime from '/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  <script type="module" src="/@vite/client"></script>
  <script type="module" src="/themes/palmenhq/public/main.tsx"></script>
  <% } else { %>
    <script src="/<%= manifest()['themes/palmenhq/public/main.tsx'].file %>"></script>
  <%
  }
  %>

  </body>
</html>
